{
    "databasePath": "./database/app.sqlite",
    "logsPath": "/Users/wrung/Projects/sc-emv-gate/logs",
    "logLevel": "info",
    "logsRetentionDays": 14,
    "environment": "development",
    "deviceCommunicationPath" : "/Users/wrung/Projects/sc-emv-gate/data",
    "stationIp" : "192.168.1.100",
    "stationName" : "SamYan",
    "stationId" : "13"
}